.cards-container {
  display: flex;
  justify-content: space-around;
  height: 250px;
  padding: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  background: white;
  padding: 10px 20px;
  border-radius: 20px;
  margin: 10px;
  -webkit-box-shadow: -1px 7px 20px -8px rgba(149, 165, 166, 1);
  -moz-box-shadow: -1px 7px 20px -8px rgba(149, 165, 166, 1);
  box-shadow: -1px 7px 20px -8px rgba(149, 165, 166, 1);
}
p {
  display: flex;
  text-align: center;
}
@media (max-width: 900px) {
  .cards-container {
    display: grid;
  }
  .card {
    width: 200px;
    height: 250px;
  }
}
